<!--<div style="background: url(https://wallpaperaccess.com/full/2157.png)" class="page-holder bg-cover">-->
<div style="background-color: ffffff" class="page-holder bg-cover">
    <div class="navbar">
    <!--<  <a href="#" routerLink="/"><img src="../../assets/images/logo_navbar.png" width="150"></a>-->
      <img src="../../assets/images/logo_navbar.png" width="150">
      <a class="active" href="#" routerLink="/category">Categories</a>
      <a href="#" routerLink="/offer">Create an offer</a>
      <a href="#" routerLink="/user">Log in / Sign up</a>
    </div>
</div>
    <!--Menu Sidebar Start-->
    <aside class="menu-sidebar">

        <app-product-category-menu></app-product-category-menu>

    </aside>

    <!--Menu Sidebar end-->

    <!-- Header Desktop-->

    <app-search></app-search>
  <!--IMAGES FOR CATEGORIES-->

<router-outlet></router-outlet>




<footer id="footer" class="footer-1">
  <div class="main-footer widgets-dark typo-light">
    <div class="container">
      <div class="row">


        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">RentAll<span></span></h5>
            <ul class="thumbnail-widget">
              <li>
                <div class="thumb-content"><a href="#.">Support</a></div>
              </li>
              <li>
                <div class="thumb-content"><a href="#.">Terms of Use</a></div>
              </li>
              <li>
                <div class="thumb-content"><a href="#.">Privacy Policy</a></div>
              </li>
            </ul>
          </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-3">

          <div class="widget no-box">
            <h5 class="widget-title">Contacts<span></span></h5>

            <p>rentall@mail.com</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>RentAll © 2020</p>
        </div>
      </div>
    </div>
  </div>
</footer>
