<table class="table">

    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let tempProduct of products">
            <td class="align-middle">
                <img src="{{ tempProduct.imageUrl }}" width="150px" height="150px"/>
            </td>
            <td class="align-middle">{{ tempProduct.name }}</td>
            <td class="align-middle">{{ tempProduct.unitPrice | currency: 'PLN'}}</td>
        </tr>
    </tbody>

</table>
