.page-holder {
  min-height: 100vh;
}

.bg-cover {
  background-size: cover !important;
}

.btn {
  color: white;
  background: black;
}


.navbar a.active {
  background: linear-gradient(to right, #08ffdc, #ce4ded);
}
