.navbar {

  background-color: black;
}

.navbar a:hover {

  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #A8D0E6;
  color: white;
}



.navbar a.active {
  //background: linear-gradient(to right, #06ff00, #e6ed00);
  background: black;
  border-radius: 5px;
  border: 2px solid #A8D0E6;
}


//
//
//.page-holder {
//  min-height: 100vh;
//}
//
//.bg-cover {
//  background-size: cover !important;
//}

//* {
//  box-sizing: border-box;
//}
//
//input[type=text], select, textarea {
//  width: 100%;
//  padding: 12px;
//  border: 1px solid #ccc;
//  border-radius: 4px;
//  resize: vertical;
//}
//
//label {
//  padding: 12px 12px 12px 0;
//  display: inline-block;
//}
//
//input[type=submit] {
//  background-color: #01800e;
//  color: white;
//  padding: 12px 20px;
//  border: none;
//  border-radius: 4px;
//  cursor: pointer;
//  float: right;
//}
//
//input[type=submit]:hover {
//  background-color: #45a049;
//}


* {
  box-sizing: border-box;

}

