<div class="navbar">
  <a href="#" routerLink="/">Home</a>
  <a href="#" routerLink="/category">Categories</a>
  <a href="#">Contact</a>
  <a class="active" href="#" routerLink="/user">Login</a>
</div>


<div class="hero">

  <div class="form-box">
    <div class="button-box">
      <div id="btn"></div>
      <button type= "button" class= "togglee-btn" (click)="login()">Log In</button>
      <button type= "button" class= "togglee-btn" (click)="register()">Register</button>
    </div>
  <form id="login" class="input-group">
    <input type="text" class="input-field" placeholder="User Id" required>
    <input type="text" class="input-field" placeholder="Enter Password" required>
    <input type="checkbox" class="check-box"><span>Remember Password</span>
    <button type="submit" class="submit-btn">Log In</button>
  </form>
    <div class="social-icon">
    <img src="https://cdn.imgbin.com/13/6/3/imgbin-social-media-facebook-linkedin-estate-agent-computer-icons-background-black-facebook-logo-pt0WZiVEANsHHhcr5WfL3Czkk.jpg" >
    <img src="https://www.pngkey.com/png/detail/13-134881_social-media-icons-black-instagram-daily-dot-logo.png">
    <img src="https://cdn.iconscout.com/icon/free/png-512/google-276-434776.png">
  </div>
    <form id="register" class="input-group">
      <input type="text" class="input-field" placeholder="User Id" >
      <input type="email" class="input-field" placeholder="Email Id">
      <input type="text" class="input-field" placeholder="User Id" >
      <input type="checkbox" class="check-box"><span>I agree with terms</span>
      <button type="submit" class="submit-btn">Register</button>
    </form>
</div>

</div>

<script>
  var x = document.getElementById("login"), y = document.getElementById("register"),
    z = document.getElementById("btn");

  function register() {
    x.style.left = "-400px";
    y.style.left = " 50px";
    z.style.left = "110px";
  }
  function login() {
    x.style.left = "50px";
    y.style.left = "450px";
    z.style.left = "0px";
  }
</script>



