<div class="navbar">
  <a class="active" href="#" routerLink="/">Home</a>
  <a href="#">Search</a>
  <a href="#">Contact</a>
  <a href="#" routerLink="/user">Login</a>
</div>

<div class="bg-img">
  <form action="/action_page.php" class="containere">
    <h1>Login</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">Login</button>
  </form>
  <div class="containers">
    <img src="https://i.pinimg.com/originals/45/04/76/450476b7618698f51a4849bb2fd510d8.jpg" alt="Snow">
    <button class="btn">Button</button>
  </div>
</div>
