<div class="navbar">
  <a class="active" href="#" routerLink="/">Home</a>
  <a href="#" routerLink="/category">Categories</a>
  <a href="#">Contact</a>
  <a href="#" routerLink="/user">Login</a>
</div>

<div class="bg-img">
  <div class="logo">
    <img src="../../assets/images/RENTALL_free-file-2.png">
  </div>
  <div class="search-box">
    <input type="text" name="" class="search-txt" placeholder="Search"/>
    <a class="search-btn" href="#">
      <img class="fa-search" src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX5621738.jpg">
    </a>


  </div>
  <b href="#" routerLink="/category/1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Home
  </b>
  <b href="#" routerLink="/category/1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Device
  </b>
  <b href="#" routerLink="/category/2">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
 Garden
  </b>
  <b href="#">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Other
  </b>

  <div class="word">
    <span class="text1">Trust men and they</span>
    <span class="text2">will be true to you</span>
  </div>

</div>
