* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.bg-img {
  /* The image used */
  background-image: url("https://storage.picsave.pp.ua/view/0/1077/original");
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* Control the height of the image */
  min-height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */



/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Style the current/active link */
.navbar a.active {
  background: linear-gradient(to right, #ff000b,#ffad06 );
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-device-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: center; /* If you want the text to be left-aligned on small screens */
  }
}
