
<div class="input-group">
  <input #myInput type="text"
         placeholder="Search"
         aria-label="Search"
         class="form-control"
         (keyup.enter)="doSearch(myInput.value)" />


  <select class="custom-select" id="inputGroupSelect04">
    <option selected>Choose your Location</option>
    <option value="Warszawa">Warszawa</option>
    <option value="Kraków">Kraków</option>
    <option value="Łódź">Łódź</option>
    <option value="Poznań">Poznań</option>
  </select>
  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="doSearch(myInput.value)">Search</button>
</div>
